{% extends "ap2.j2" %}

{% block summary %}
<p>Het EnergieManagementSysteem (EMS) applicatieprofiel laat zien hoe termen uit het bijbehorende vocabularium moeten worden gebruikt om energiemonitoring- en besturingssystemen te beschrijven.
Dit applicatiemodel bouwt verder op de SSN/SOSA, OMS en SAREF-ontologie.</p>

<p>Het model is opgebouwd uit 4 delen: Observaties, Aansturing, Object en Deployment.
Centraal in het model staat Object, met Aansturing links van Object en Observaties rechts.
Aan de rechterrand staat het deel van Deployment met daaronder de verschillende datatypes.
Onderaan worden ook de verschillende enumeraties weergegeven.</p>

<p>Het model beschrijft een EMS als een platform waarin Observaties aan de basis liggen om energiestromen te monitoren en slim aan te sturen.
Deze kunnen zowel in industriële installaties als in (overheids)gebouwen worden ingezet en zijn terug te vinden aan de rechterzijde van de Objecten.
Observaties worden uitgevoerd door Sensoren en opgeslagen in een Observatieverzameling.
De Observatieprocedure bepaalt hoe de observatie verloopt, zoals het opvragen van energieprijzen of het meten van verbruikswaarden.
Deze verschillende Observatieprocedures zitten vervat in de enumeratie Observatieproceduretype.
Het ObserveerbaarKenmerk bevat alle verschillende soorten kenmerken die kunnen worden waargenomen, variërend van temperatuur en bezetting tot complexere energieparameters.

<p>Deze Observaties vormen de basis voor de Aansturing van het systeem, te vinden links van de Objecten.
De Aansturing gebeurt via bepaalde Aansturingsprocedures die vervat zitten in de enumeratie Observatieproceduretype.
Deze worden uitgevoerd door een Aansturingssysteem dat automatische reacties op gemeten waarden kan implementeren.</p>

<p>Wat er aangestuurd en gemeten wordt, zit vervat in Object, dat de fysieke of logische entiteiten representeert binnen het EMS.
De Aansluiting van het energieverbruik bevindt zich in een Nutsvoorzieningsnetwerk, dat de bredere infrastructuur vormt waarbinnen het EMS opereert.
Het model omvat diverse ondersteunende klassen en datatypes, onder andere om de verschillende soorten Observeerbare – of Aansturingskenmerken aan te duiden.</p>

<p>De architectuur ondersteunt zowel real-time monitoring als geautomatiseerde besturing, essentieel voor moderne smart energy toepassingen waarbij optimalisatie van energiegebruik en preventie van systeemstoringen cruciaal zijn.</p>

{% endblock %}


