{% extends "ap2.j2" %}

{% block summary %}
<p>
Dit applicatieprofiel heeft als doel om de datastromen semantisch te modelleren en de structuur van de data te standaardiseren in de context van een EMS, gericht op het ontwikkelen van een gemeenschappelijk begrip van EMS-data.

Via dit initiatief wensen de verschillende stakeholders die rechtstreeks betrokken zijn in het ‘Revolt’ project (WVI, stad Roeselare, EMS-leverancier), het ‘EMS DOE’ project (Stad Kortrijk) en het ‘Stroommakelaar Kempen’ project (IOK) datastromen met betrekking tot EMS (Energie Management Systeem) semantisch te modelleren en de structuur van de data te standaardiseren.   

- Revolt: Richt zich op EMS en slim energiebeheer op bedrijventerreinen om de efficiëntie van bedrijven te verbeteren. Het stemt productie en consumptie beter op elkaar af binnen een groep bedrijven.  
- EMS DOE: Heeft dezelfde focus als Revolt, maar dan voor gemeentelijke gebouwen in plaats van bedrijven. Legt nadruk op de juiste data en kwaliteitslabels voor energiebeheer.  
- Stroommakelaar Kempen: Vergelijkbaar met EMS DOE, maar met vier concrete doelen: monitoring van gemeentelijke gebouwen, aansturing van grote vermogens, voorspelling van energieverbruik en impactanalyse van maatregelen zoals laadpalen en zonnepanelen.  

Deze initiatieven worden gecombineerd wegens een aanwezigheid van gelijklopende doeleinden met als doel het modelleren van generieke datastromen met betrekking tot een EMS die hardware-onafhankelijk assets kan aansturen:    
- Alle drie richten zich op standaardisatie van datastromen van een EMS en de uitwisseling van data als Linked (Open) Data.   
- Streven naar interoperabiliteit en innovatie door het gebruik van semantische standaarden.  
- Prioriteit geven aan herbruikbaarheid van data en samenwerking tussen stakeholders.   
- De focus op slimme aansturing van energie-assets zoals warmtepompen, laadpalen en batterijen.  

De aanleiding voor het standaardisatie traject 'EMS’ is het feit dat Europa en Vlaanderen meer dan ooit inzetten op klimaat- en energiedoelstellingen. Lokale besturen engageren zich via het Burgemeestersconvenant om hun bijdrage te leveren, terwijl bedrijven en publieke organisaties voor belangrijke uitdagingen staan in de transitie naar een duurzame energiehuishouding. Ondanks de talrijke maatregelen blijft veel potentieel onbenut. Bedrijven hebben vaak onvoldoende zicht op hun huidig energieverbruik en de besparingen die investeringen in hernieuwbare energie of slimme systemen kunnen opleveren. Gemeenten en lokale besturen kampen op hun beurt met een gebrek aan inzichten in energieverbruik, CO2-reductie en de impact van nieuwe technologieën zoals warmtepompen, laadpalen en zonnepanelen. Daarnaast ontbreekt het vaak aan gestandaardiseerde methodes om datastromen efficiënt te beheren, waardoor samenwerking tussen verschillende stakeholders wordt bemoeilijkt.   

Een semantische standaard maakt het delen en uitwisselen van gegevens tussen verschillende stakeholders eenvoudiger. Dankzij machineleesbare en herbruikbare data kunnen processen efficiënter worden ingericht en kosten voor uitwisseling verlaagd. Door data te verrijken en te koppelen, ontstaat meer kennis, die zowel bedrijven als overheden in staat stelt om beter onderbouwde beslissingen te nemen.  
</p>
{% endblock %}


