{% extends "ap2.j2" %}

{% block summary %}
<p>Het applicatieprofiel Energiemanagementsysteem toont hoe, met termen uit bestaande applicatieprofielen en vocabularia, energiemonitoring- en besturingssystemen kunnen worden beschreven.<p>
<p>Er worden oa termen hergebruikt uit <a href="https://docs.ogc.org/as/20-082r4/20-082r4.html">ISO19156-2023 OMS</a>, <a href="https://w3c.github.io/sdw-sosa-ssn/ssn/">SSN/SOSA-2025</a>, <a href="https://saref.etsi.org/core/v4.1.1/">SAREF</a>, <a href="https://belgif.github.io/thematic/models/cable-pipe/index_nl.html">IMKL</a> en <a href="https://semiceu.github.io/MLDCAT-AP/releases/2.0.0/">MLD-DCAT</a>.<p>
<p>Een energiemanagementsysteem (EMS) is een geautomatiseerd systeem dat het energieverbruik in een gebouw, huis of industrieel complex optimaliseert. Dat gebeurt door real-time monitoring en meting, analyse van trends en piekverbruik en inefficiënties, optimalisatie en besparing door slimme algoritmes en AI, automatische aansturing van apparaten en systemen (verwarming, verlichting).<p>
<p>Eerder dan het EMS zelf te beschrijven, laat dit applicatieprofiel toe om de acties te documenteren die erdoor worden uitgevoerd. Die acties zijn Observaties en Aansturingen, respectievelijk bvb het observeren van het energieverbruik ve toestel en het aan-of afzetten ervan in functie daarvan.<p>
<p>Deze acties worden gestructureerd beschreven zoals voorzien in ISO19156-2023 OMS, SSN/SOSA-2025 waaraan ze werden ontleend. Dwz dat behalve het resultaat vd Observatie/Aansturing ook het ObserveerbaarKenmerk/ AanstuurbaarKenmerk moet worden opgegeven (bvb verbruik, aan- of uitstand), evenals het Object dat dat kenmerk heeft (bvb de Aansluiting of het Toestel), de procedure die bij het observeren of aansturen is gevolgd (bvb op basis van welke drempelwaarde van energieverbruik een Toestel wordt uitgezet) en tenslotte het Aansturingssysteem of de Sensor die daarbij is gebruikt.<p>
<p>De mogelijkheid om aan te geven welke Input is gebruikt bij de Observatieprocedure/Aansturingsprocedure laat toe een sequentie van Observatie- en/of Aansturingsacties te beschrijven, waarbij het resultaat van een Observatie/aansturing de input vormt voor een volgende Observatie/Aansturing. We voorzien ook Observatieverzameling uit SSN/SOA zodat Observaties gegroepeerd als Input kunnen worden opgegeven. Input kan ook een drempelwaarde of regel zijn (het modelleren van regels is echter buiten scope, zie daarvoor <a href="https://www.w3.org/TR/2013/NOTE-rif-overview-20130205/">RIF</a>, <a href="https://notation3.org/">N3</a>, <a href="https://web.archive.org/web/20110404135107/http://ruleml.org/">RuleML</a>, <a href="https://www.idp-z3.be/">IDP</a> edm).<p>
<p>Door deze aanpak kunnen heel wat EMS use-cases worden beschreven. Bvb het stilleggen van een productielijn (Aansturing) op basis van de day-ahead elektriciteitsprijs (Observatie) en een drempelwaarde (Input vd Aansturing) en het berekenen van de besparing (Observatie) op basis van het gemiddeld verbruik vd productielijn (Observatie). Of het klasseren van een gebouw (Observatie) volgens zijn gemiddeld warmteverlies (Observatie), gebaseerd op het gemeten warmteverlies van meerdere representatieve ruimtes in het gebouw (meerdere Observaties). Zie de datavoorbeelden in github (toegelicht in het modelleerrapport) die dit principe illustreren.<p>
<p>Het geobserveerdObject/aangestuurdObject kan een instantie van Object zijn of een instantie van om het even welke klasse door substitutie van Object. Indien van toepassing echter kan met een subklasse daarvan worden gewerkt, ttz een instantie van Aansluiting of Toestel (of subklasse Meter van Toestel). Aansluiting is geleend bij IMKL, Toestel en Meter zijn gedefinieerd door SAREF.<p>
<p>Merk op dat Toestel, maar ook Aansturingssysteem en Sensor Systemen zijn. Deze laatste zijn niet-disjoint met Toestel, een Sensor bvb dus bijkomend als Toestel worden getypeerd en kenmerken van beide klassen combineren. Toestellen maar ook Aansluitingen zijn potentieel ook Platformen, ttz dat ze andere Systemen kunnen hosten, bvb een Meter op een Aansluiting, of een controller of Sensor op een Toestel.<p>
<p>We voorzien ook een verwijzing naar de klasse MachineLearningModel uit ML-DCAT, zodat een Sensor bijkomend als instantie van deze klasse kan worden getypeerd. Zo kan bvb worden aangegeven dat de Observatie een voorspelling is gemaakt mbv AI.</p>

{% endblock %}


